.sidenav-container {
  position: absolute;
  left: 2px;
  right: 2px;
  }

.__rsnav___item {
  text-align: right;
}

.__rsnav___itemchild {
  text-align: right;
  border: 2px;
  border-color: #232323;
  background: rgb(231, 229, 229);
}