 /* alternating column backgrounds */
 .vis-text, .vis-time-axis{
  color: white;
}
 
.vis-time-axis .vis-text{
  color: white;
}
 

 .vis-timeline {
  color: white;
  background: rgb(41, 41, 41);
}
 
 .vis-time-axis .grid.vis-odd {
    color: white;
    background: #f5f5f5;
  }

  .vis-time-axis .grid.vis-even{
    color: white;
  }


  /* gray background in weekends, white text color */
  .vis-time-axis .vis-grid.vis-saturday,
  .vis-time-axis .vis-grid.vis-sunday {
    color: white;
    background: rgb(36, 36, 36);
  }

  .vis-time-axis .vis-text.vis-saturday,
  .vis-time-axis .vis-text.vis-sunday {
    color: white;
  }



.btn-container
{
  margin: 10px;
  position: absolute;
  z-index: 10;
}